<article class="container__big-card">
  <section class="big-card__photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      height="200px"
    />
  </section>
  <section class="big-card__title">
    <h1><a href="#"> Lorem ipsum dolor sit amet.</a></h1>
  </section>
  <section class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsa ullam
      iusto vel accusantium error.
    </p>
  </section>
</article>
