<section class="container__menu-bar">
  <img
    src="https://www.avc.edu/sites/default/files/studentservices/lc/Pictures/blog1.jpg"
    alt=""
    srcset=""
  />
  <nav class="menu-bar">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/filipeqalves" target="_blank">Linkdin</a>
      </li>
      <li><span>&#x2022;</span></li>
      <li>
        <a href="https://github.com/lipeqalves" target="_blank">Github</a>
      </li>
      <li><span>&#x2022;</span></li>
      <li><a href="#" target="_blank">Email</a></li>
    </ul>
  </nav>
</section>
